/* #subjectModal {
  z-index: 30;
}
#subjectModal.fadeIn {
  -webkit-animation: scale-fadeIn 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-fadeIn 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
#subjectModal.fadeOut {
  -webkit-animation: scale-fadeOut 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-fadeOut 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.btn-submited-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: unset !important;
}

.subjectModal-box {
  background: white;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 0.5em 1.5em;
  margin: auto;
}
.subjectModal-box > div {
  margin: 1em 0;
}
.subjectModal-AddInformation {
}
.subjectModal-AddInformation {
  line-height: normal;
}
.subjectModal-AddInformation > label {
  margin: 12px 0 6px;
  font-size: 16px;
  font-weight: bold;
  display: block;
  text-align: start;
}
.subjectModal-AddInformation > input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 5px;
  background-color: #eee;
  text-align: center;
}
.subjectModal-AddInformation > .btn-submited-container {
  margin-top: 20px;
}

.submitedBtn button {
  width: 100px;
  background-color: #208000;
  color: white;
  border-radius: 10px;
  border: 1px solid;
  padding: 8px;
  box-shadow: 1px 1px 5px 0px green;
  text-align: center;
}
.submitedBtn button:hover {
  box-shadow: 1px 1px 9px 0px green;
}
.submitedBtn.closed button {
  background-color: white;
  color: black;
  border: unset;
  box-shadow: 1px 1px 5px 0 #636363;
}
.submitedBtn.closed button:hover {
  box-shadow: 1px 1px 15px 0 #636363;
}

@-webkit-keyframes scale-fadeIn {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-fadeIn {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes scale-fadeOut {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
@keyframes scale-fadeOut {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
} */
