.detailsRow-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2em;
  > div {
    flex: 1;
  }
}
.show-card-elements-details {
  // margin: 10px 0;
  padding: 20px;
  .btn-toolbar {
    justify-content: flex-end;
    position: absolute;
    left: 1.5em;
  }
}
.card-details-row {
  margin: 20px;
  line-height: normal;
  // box-shadow: var(--boxShadowLow);
  p {
    text-align: justify;
    padding: 10px;
  }
}

.rotate-84::after {
  transform: rotate(-84deg);
  cursor: pointer;
}
.about-title {
  padding: 10px 0;
  font-size: 1em;
  span {
    padding: 5px 10px;
    font-weight: 600;
    border-bottom: 1px solid var(--redColor);
  }
  i {
    font-size: 18px;
  }
}
