.modal-header .close {
  margin: unset;
}
.modal-body {
  > span {
    padding: 0.5em 2em;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
    border-radius: 0.3em;
    margin: 1em;
  }
}
.modal-header {
  border-bottom: unset;
}
.modal-footer {
  border-top: unset;
}
