.input-push-wrapper {
  position: relative;
  display: flex;
  input {
    padding: 0.2em;
    font-size: 1em;
    width: 100%;
  }
  span {
    display: flex;
    position: absolute;
    left: 0;
    background-color: #003265;
    color: white;
    cursor: pointer;
    height: 100%;
    padding: 0 1em;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 5px 0 0 5px;
  }
}
